{% extends "layout.html" %}

{% block body %}
 <h3>Hakkımızda</h3>
<hr />

<p>
    Herkese merhaba ben Ege. Bu blogta sizlere her konuda bilgilendirme yapmak istiyorum. İnternette bazı şeyleri aradığımızda karşımıza karmaşık birçok bilgi çıkıyor. Ben bu tarz konuları kısa, öz ve anlaşılır bir biçimde sizlere anlatmak istiyorum. Umarım memnun kalırsınız. Fikirleriniz benim için çok önemli. Eğer benimle paylaşmak istediğiniz konular olursa bunu benimle konuşmanızı çok isterim.
</p>
<p>
    Email: egegundd@gmail.com    
</p>
<p>
    instagram: azbirazordan
</p>
{% endblock %}